@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Tajawal:200,300,400');
body, html {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    background-color: white;
}
h1 {
    font-size: 2vw;
}
.navbar {
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    list-style-type: none;
    background-color: white;
    width: 95%;
    padding: 1vh 2.5%;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
    border-bottom-width: 1.5px;
}
a {
    color: inherit;
    text-decoration: none;
}
 .navlink {
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    color: #e66465;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.5vh;
    background-color: transparent;
    padding: 0.7vh 1.2vw;
    font-family: 'Tajawal', sans-serif;
}
.navbar a, .navlink {
    transition: 0.2s ease-in;
}
.navbar a:hover {
    color: #F76D6E;
}
.outline {
    border-style: solid !important;
    border-color: #e66465 !important;
    border-width: 1px !important;
    border-radius: 5px;
}
.outline:hover {
    background-color: #e66465;
    color: white !important;
}
.navbar h1 {
    margin: 0;
}
.navbar svg {
    width: 3vw;
}
.navbar li {
    margin: 1vh 0.5vw;
    float: right;
    color: #e66465;
}
.navbar .left {
    float: left !important;
}
.important {
    font-weight: bold;
    font-size: 3vw;
}
.side {
    display: inline-block;
    vertical-align: top;
    width: 48vw;
}
.side svg {
    margin-left: 10vw;
    margin-top: 6vh;
    width: 30vw;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(50,50,50,0.07));      
    filter: drop-shadow(12px 12px 7px rgba(50,50,50,0.07));  
}
.info {
    margin-top: 7vh;
    text-align: left;
}
.info h1, .info p {
    width: 40vw;
}
.info p {
    margin-bottom: 8vh;
}
p {
    font-size: 1.5vw;
}
.button {
    border-style: hidden;
    border-radius: 3px;
    text-decoration: none;
    color: #e66465;
    background-color: white;
    padding: 1.7vh 2.7vw;
    font-size: 1.2vw;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.2s ease-in-out;
}
.button:hover {
    color: white;
    background-color: #e66465;
}
.cta {
    color: white !important;
    background-color: #e66465;
}
.no-shadow {
    box-shadow: none !important;
}
.no-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
}
.register, .login {
    box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.1), 0 6px 20px 0 rgba(50, 50, 50, 0.05) !important;
    padding: 3vh 3vw;
    border-style: hidden;
    border-radius: 10px;
    background-color: white;
    text-align: left;
}
.register {
    width: 25vw;
}
.login {
    width: 20vw;
}
.register *, .login * {
    display: block;
    left: 0;
}
.register * {
    margin: 2vh 0;
}
.login * {
    margin: 3vh 0;
}
.register input, .register select {
    width: 96%;
}
.login input[type="text"], .login input[type="password"], .login input[type="email"], input[type="number"] {
    width: 96%;
    font-size: 1.2vw;
    padding: 2vh 1.7vw;
}
.login label {
    font-size: 1.3vw;
}
input[type="text"], input[type="password"], input[type="email"], select, input[type="number"]{
    padding: 1.5vh 1vw;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 3px;
    border-width: 1px;
    font-size: 0.9vw;
}
select {
    color: rgb(110, 110, 110);
}
label {
    font-size: 1vw;
    color: rgb(110, 110, 110);
}
input:focus, button:focus {
    outline: none;
}
input:focus {
    border-color: rgb(110, 114, 219);
}
.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.center * {
    margin-right: auto;
    margin-left: auto;
}
.light {
    font-weight: 300;
}
.normal {
    font-weight: 400;
}
.form form {
    margin-right: 2vw;
}
h3 {
    color: rgb(110, 110, 110);
    font-size: 1.2vw;
}
.writing {
    text-align: left;
    padding-left: 2vw;
}
.writing * {
    max-width: 46vw;
}
.writing p {
    font-size: 1vw;
    width: 20vw;
    margin-left: 1.1vw;
    color: darkgrey;
    display: inline-block;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}
.writing i {
    color: darkgrey;
    font-size: 1.3vw;
}
i {
    display: inline;
}
h4 i {
    font-size: 1.8vw !important;
}
.title {
    margin-bottom: 0;
    margin-top: 6vh;
}
.subtitle {
    margin-top: 0.2vh;
    margin-bottom: 6vh;
    color: rgb(110, 110, 110);
    font-weight: 400;
    font-size: 1.5vw;
}
.main svg {
    width: 5vw;
    margin: 5vh auto;
}
.bar {
    width: 100%;
    height: 1vh;
    background: linear-gradient(45deg, #e66465, #9198e5);
}
.smaller {
    border-radius: 30px;
}
a.button {
    max-width: 3.5vw;
    text-align: center;
}
.navlink i {
    vertical-align: top;
    font-size: 1.6vw;
}
.ilink {
    padding: 0.7vh 0.6vw !important;
}
.profile-left, .profile-right {
    display: inline-block;
    vertical-align: top;
}
.profile-left {
    width: 17vw;
    margin-left: 5.75vw;
    margin-right: 5.75vw;
}
.profile-right {
    width: 59vw;
}
.profile-top, .profile-bottom {
    padding: 2vh 0;
}
.profile-top {
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
    border-bottom-width: 1.5px;
}
.profile h1 {
    color: rgb(110, 110, 110);
    font-weight: 500;   
    margin-bottom: 1vh;
}
.profile h3 {
    color: darkgrey;
    font-weight: 300;
    margin: 0;
}
.profile h2 {
    color: #e66465;
    font-size: 1.3vw;
}
.profile h4 {
    color: rgb(110, 110, 110);
    font-size: 1.1vw;
}
.profile h4 i {
    vertical-align: top;
    margin-right: 0.5vw;
}
.profile h2 i {
    vertical-align: -0.19vw;
    font-size: 1.4vw;
    margin-right: 0.2vw;
}
.profile-picture {
    width: 100%;
}
.avatar {
    width: 2.4vw;
    height: 2.3vw;
    border-style: hidden;
    border-radius: 5vw;
}
.alink {
    padding: 0.2vh 0.6vw !important;
}
.circle {
    width: 0.5vw;
    height: 0.5vw;
    border-style: hidden;
    border-radius: 5vw;
    display: inline-block;
    margin-right: 0.5vw;
    vertical-align: super;
}
.circle-av {
    vertical-align: top;
    margin: 0;
}
.stat {
    margin-top: 3vh;
    margin-right: 3vw;
    margin-bottom: 1vh;
    display: inline-block;
    text-align: center;
}
.stat h3 {
    font-size: 2vw;
    font-weight: 200;
    color: #F76D6E;
}
.stat h4 {
    color: #e66465;
    font-size: 1.1vw;
    margin: 1vh 0;
}
.shade {
    background-color: #FFCCCD;
    padding: 1vh 1vw;
    color: #e66465;
    font-weight: bolder;
    font-size: 1.2vw;
}
.profile p {
    font-size: 1.2vw;
    color: grey;
    font-weight: 300;
}
.trip {
    padding-bottom: 1vh;
}
.trip h2 {
    font-weight: 300;
    color: grey;
}
.location {
    display: inline-flex;
    background-color: #FFCCCD;
    color: #e66465;
    padding: 0.5vh 0.7vw;
    font-size: 0.9vw;
    margin: 0.5vh 0.1vw;
}
textarea {
    border-style: solid;
    border-color: transparent;
    height: 23vh;
    width: 59vw;
    font-family: 'Tajawal', sans-serif;
    color: rgba(110, 110, 110);
    font-size: 1.2vw;
    font-weight: 300;
}
textarea:focus {
    outline: none;
    border-color: #9198e5;
}
#textarea {
    margin-bottom: 1vh;
}
.label {
    font-size: 1.3vw;
    display: block;
    margin: 2vh 0;
}
.inline {
    display: inline-block;
}
.form-side {
    max-width: 29vw;
}
.activity-form {
    border-top-style: solid;
    border-top-color: lightgrey;
    border-top-width: 1px;
    width: 14vw;
    padding: 1vh 0.8vw;
}
.activity-form input[type="text"]{
    padding: 1.1vh 0.8vw;
    width: 12vw;
}
.activity-form label {
    margin: 1vh 0;
    font-size: 1.2vw;
}
.dates input {
    width: 6vw !important;
}
.textarea-input {
    padding: 1.1vh 0.8vw;
    height: 1.2vw;
    width: 10vw;
    font-size: 0.9vw;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 3px;
}
.box {
    display: inline-block;
    padding: 0.7vh 0.5vw;
    background-color: lightgrey;
    font-size: 1vw;
    border-style: hidden;
    border-radius: 0.5vw;
    margin: 0.2vh 0.2vw;
}
.box i {
    font-size: 1vw;
    vertical-align: middle;
    margin-left: 0.2vw;
}
#participants {
    width: 22vw;
}
.aligntop {
    vertical-align: top;
}
.location-card {
    width: 15vw;
    display: inline-block;
    padding: 0.7vh 1vw;
    border-style: hidden;
    border-radius: 0.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}
.location-card .buttons * {
    display: inline;
    font-size: 1.1vw;
}
.location-card .buttons {
    margin-top: 4.5vh;
    margin-bottom: 1.5vh;
}
.location-card .buttons a {
    display: inline-block;
}
.location-card h2 {
    color: rgb(110, 110, 110);
    font-size: 1.5vw;
    font-weight: 400;
}
.date {
    font-size: 1vw;
    display: block;
}